@import "../../responsive.scss";

.homePage {
  display: flex;
  height: 100%;
  width: 100%;

  .textContainer {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 50px;

      @include md {
        padding: 0;
      }

      @include sm {
        justify-content: flex-start;
      }

      .title {
        font-size: 64px;

        @include lg {
          font-size: 48px;
        }
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
          display: none;
        }

        h2 {
          font-size: 36px;

          @include lg {
            width: 32px;
          }
        }

        p {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    // Hide the image container in medium devices
    @include md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include lg {
        width: 105%;
      }
    }
  }
}
